html {
    background-color: #71b139eb;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: large;
    text-align: center;
}

.saplings {
    background-color: #2e6730;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: large;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: medium;
    text-align: center;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: large;
    text-align: center;
}

h6 {
    background-color: #2e6730;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 300;
    border: none;
    text-align: center;
    font-size: 16px;
    border-radius: 40px;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}
