html {
    background-color: #7cc23feb;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: medium;
    text-align: center;
}

form{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 25px;
    font-size: medium;
    text-align: center;
    align-content: center;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: x-large;
    text-align: center;
    align-content: center;
   
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: large;
    text-align: center;
}

input[type = "submit"]  {
    background-color: #377c39;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 15px 32px;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 40px;
}

