<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href ="{{ url_for('static', filename = 'css/college.css')}}">
    <script src = "{{ url_for('static', filename = 'js/college.js')}}"></script>
    <title>College Sapling Goals</title>
</head>
<body>
    
    <h1> College Sapling Goals </h1>
            
    <h6>Colleges, as you know, use considerably more energy than high schools. It is also significantly more difficult to accurately estimate a college's annual energy consumption. 
        As a result, finding a sapling goal that correlates with a college's energy usage is a futile task. <br><br> Instead, we ask that you choose a sapling goal that reflects the ideal number of saplings you think is reasonable to plant given the set of constraints you face (space, people, etc...). <br> </h6>
        
        <h3> We recommend that colleges in urban settings set a goal in
        the range of 150 - 250  <br> saplings and schools in more suburban or rural settings set a goal in the range of  <br>200 - 400 saplings.
        However, these are purely suggestions and you are welcome to  <br>set your goal outside of this range as long as it is above 50. </h3>.
        <p>After you have your event date, sapling goal, and sapling species, please fill out <a href = "https://treeplenish.typeform.com/to/cPvgB9m3">this form</a>.</p>
    <br></br>
    







            
</body>
</html>
