<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href ="{{ url_for('static', filename = 'css/index.css')}}">
    <script src = "{{ url_for('static', filename = 'js/index.js')}}"></script>
    <title>Carbon Calculator</title>
</head>
<body>
    <h1>Find Your Sapling Goal</h1>
    <p>This calculator estimates your school's carbon emissions from electricity and gas consumption and estimates the number of trees needed to offset your energy usage</p>
    

    
    <p></p>
    
    <form action = "/" method = "POST"> 
        <label for="square">How many square feet is your school? </label>
        <input required type = "text" name = "square" id = "square"> 
        <h5>To answer the next question, go to this <a href = "https://www.epa.gov/egrid/power-profiler#/NEWE">link</a> and enter your zip code on the left.
            Find the CO2 number in the blue box at the top.</h5>
        
    <label for="co2">What is your community's CO2 NEWE Emission Rate? </label>
        <input required type = "text" name = "co2" id = "co2"> 
        <br></br>
        <a href = "goal"></a><input  id = "button1" type = "submit" value="Calculate"></a>
        <div id = "hide">
            
                



            

            
            
        </form>
    
</body>
</html>